<div class="container mt-4">
    <h2>Adicionar Tarefa</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #taskForm="ngForm">
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" id="descricao" name="descricao" class="form-control" formControlName="descricao" required>
      </div>
      <div class="mb-3">
        <label for="data_inicio" class="form-label">Data de Início</label>
        <input type="date" id="data_inicio" name="data_inicio" class="form-control" formControlName="data_inicio" required>
      </div>
      <div class="mb-3">
        <label for="data_limite" class="form-label">Data Limite</label>
        <input type="date" id="data_limite" name="data_limite" class="form-control" formControlName="data_limite" required>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
  
