<div class="container mt-4">
    <h2>Lista de Tarefas</h2>

    <!-- Botão para adicionar novas tarefas -->
    <button type="submit" class="btn btn-primary w-100" (click)="adicionarTask()">Adicionar Task</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Data de Início</th>
          <th>Data Limite</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ task.descricao }}</td>
          <td>{{ task.data_inicio | date:'dd/MM/yyyy' }}</td>
          <td>{{ task.data_limite | date:'dd/MM/yyyy' }}</td>
          <td>
            <span class="badge" [ngClass]="{'bg-success': task.concluida, 'bg-warning': !task.concluida}">
              {{ task.concluida ? 'Concluída' : 'Pendente' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  