<div class="container mt-4">
    <h2>Lista de Hábitos</h2>

    <!-- Botão para avançar para o próximo dia -->
    <button type="button" class="btn btn-secondary mb-3" (click)="avancarDia()">
      Avançar para {{ dataAtual | date: 'dd/MM/yyyy' }}
    </button>

    <!-- Botão para adicionar novas tarefas -->
    <button type="submit" class="btn btn-primary w-100" (click)="adicionarHabitos()">Adicionar Hábitos</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habito of habitos; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ habito.descricao }}</td>
          <td>
            <span class="badge" [ngClass]="{'bg-success': habito.concluida, 'bg-warning': !habito.concluida}">
              {{ habito.concluida ? 'Concluída' : 'Pendente' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>


  
  