<div class="toolbar d-flex justify-content-between align-items-center p-3 bg-dark text-white">
  <div class="nav-buttons">
      <button class="btn btn-light me-2" (click)="acessarTask()">Task</button>
      <button class="btn btn-light me-2" (click)="acessarHabitos()">Hábitos</button>
      <button class="btn btn-light" (click)="acessarCadastro()">Cadastro</button>
  </div>
  <button class="btn btn-danger" (click)="sair()">Sair</button>
</div>


  

<router-outlet></router-outlet>
